# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform/terraform.tfvars

# Google Cloud Service Account
backend/credentials/
